<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5 mb-5">
    <div th:each="el : ${blazonPage.content}" class="alert alert-info mt-2">
        <h6><b>Owner:</b></h6>
        <p th:text="${el.owner}"/>
        <h6><b>Owner Prefix:</b></h6>
        <p th:text="${el.ownerPrefix}"/>
        <h6><b>Description:</b></h6>
        <p th:text="${el.description}"/>
        <h6><b>Hash:</b></h6>
        <p th:text="${el.hash}"/>
    </div>
</div>
<nav th:if="${blazonPage.totalPages > 0}" aria-label="">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" th:href="@{/list(description=${description}, size=${blazonPage.size}, page=${blazonPage.getNumber()-1})}">Предыдущая</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/list(description=${description}, size=${blazonPage.size}, page=${blazonPage.getNumber()+1})}">Следующая</a></li>
    </ul>
</nav>
</body>
</html>