<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5 mb-5">
    <div>
        <form action="/list" method="get">
            <input type="text" name="owner" placeholder="owner" class="form-control"><br>
            <input type="text" name="descr" placeholder="description" class="form-control"><br>
            <input type="text" name="hash" placeholder="hash" class="form-control"><br>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>
</div>
</body>
</html>